@import "../../index.scss";

.header{
    background-color: #87CEEB;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    z-index: 11;
    .header__logo{
        color: $background-color;
        font-family: $secondary-font-stack;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }
    .header__search-bar form {
        background-color: white;
        border: none;
        margin: 8px 16px;
        flex:1;
        max-width: 400px;
    }
    .header__search-bar input:focus,.header__search-bar textarea:focus{
        outline: none!important;
    }
    
}

