.project-page {
    // text-align: center;
}

.project-page__pillars {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

.project-page__pillar {
    min-width: 250px;
    
    ul {
        display: flex;
        min-height: 350px;
        flex-direction: column;
        gap: 5px;
    }
    // min-height: 350px;
}

.prokect-page-pillar__task {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.658);
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    min-height: 50px;
}


.project-page__title{
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    color: #333; /* Adjust the text color as needed */
    margin-bottom: 10px; /* Add spacing between the title and description */

}
.project-page__description{
    font-size: 1rem; /* Adjust the font size as needed */
    color: #666; /* Adjust the text color as needed */

}