.project-page {
    // text-align: center;
}

.project-page__pillars {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

.project-page__pillar {
    min-width: 250px;
    
    ul {
        display: flex;
        min-height: 350px;
        flex-direction: column;
        gap: 5px;
    }
    // min-height: 350px;
}

.prokect-page-pillar__task {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.658);
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    min-height: 50px;
}