@import '../index.scss';

.wrapper{
    display: flex;
    flex: 1;
}

.pages {
    min-width: 150px;
    flex: 1;
    padding: 8px 16px;
}

.wrapper_sidebar {
    position: relative;
    display: flex;
    z-index: 11;
}

.wrapper-sidebar__button {
    background-color: transparent;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
    background: url('../../public/assets/header/hamburger-menu.svg') no-repeat;
    background-size: 100%;
    background-position: center;
}

.wrapper-sidebar__active-button {
    background-image: url('../../public/assets/header/close.svg');
    background-size: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
}

.wrapper-sidebar__burger-menu {
    display: flex;
    flex-direction: column;
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;  
    background-color: white;
}

.wrapper-sidebar__burger-container {
    margin-top: 20px;
    padding: 8px 16px;
    a {
        display: flex;
        padding: 15px 15px;
        box-sizing: border-box;

        font-family: $secondary-font-stack;
        color: black;
    }

    .wrapper-sidebar-burger-container__active-link {
        border-left: 3px solid blue;
        padding-left: 12.5px;
        background-color: rgba(0, 0, 255, 0.037);
    }
}

.wrapper-sidevar__active-burger {
    min-width: 200px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.25);
    z-index: 10;
}



@media (max-width: 768px) {
    .pages {
    flex: 1 1;
    position: relative;
    }
    .pages {
        &.overlay{
            margin-left: -170px;
            opacity: 0.7;
            pointer-events: none;
            filter: brightness(0.6); 
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}