.header-search-bar__input {
    padding: 8px;
    height: 32px;
    width: 100%;
    height: 32px;
    line-height: 1.9rem;
    text-align: left;
    background: url('../../../../public/assets/searchplaceholderimg.svg') no-repeat;
    background-position: 20px ;
}